@font-face {
  font-family: Averta;
  src: url(./fonts/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");
* {
  box-sizing: border-box;
  font-family: Averta, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

section {
  display: block;
}

section.programs {
  background-color: #fff;
  overflow: hidden;
}

.hero-container {
  height: 800px;
  background-image: url("../images/hero-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.center-image {
  margin: auto;
  display: flex;
  padding-top: 69px;
  margin-bottom: 69px;
}

.hero {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

img {
  vertical-align: middle;
  border-style: none;
}

.center-image img {
  margin: auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
}

.hero h2 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-weight: 800;
  color: #514949;
  margin-bottom: 36px;
}

h3 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #514949;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
}

.btn-div {
  margin-top: 92px;
}

a {
  color: #e7332b;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #eb5850;
  text-decoration: none;
}

.d-block {
  display: block !important;
}

@media (max-width: 768px){
.footer-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .d-md-none {
    display: none !important;
  }
}

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

.my-btn {
  padding: 11px 28px;
  border: 1px solid #e7332b;
}

.btn-red {
  background-color: #e7332b;
  color: #fff;
  margin-right: 24px;
}

button:not(:disabled) {
  cursor: pointer;
}

.btn-red:hover {
  background-color: #fff;
  color: #e7332b;
}

.btn-red-outline {
  background-color: #fff;
  color: #e7332b;
}

.btn-red-outline:hover {
  background-color: #e7332b;
  color: #fff;
}

.m-4 {
  margin: 1.5rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

  .m-lg-0 {
    margin: 0 !important;
  }
}

.text-left {
  text-align: left !important;
}

.program-card {
  width: 100%;
  background-color: #fffafa;
  padding: 61px 47px 82px 36px;
  text-align: justify-all;
}

img.card-bg-svg-1 {
  width: 100%;
  position: absolute;
  left: -120px;
  top: -75px;
  z-index: -1;
}

img.card-bg-svg-2 {
  width: 90%;
  position: absolute;
  right: -120px;
  top: -75px;
  z-index: -1;
}

.program-card img {
  margin-bottom: 48px;
}

.program-card-zed {
  position: relative;
  z-index: 1;
}

.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.d-none {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px !important;
}

.my-container {
  max-width: 1240px !important;
}

.container-fluid {
  margin: 0 auto;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

.program-content {
  padding-top: 0 !important;
}

.contact-icons img {
  width: 18px !important;
  margin-right: 5px;
}

.address p {
  font-size: 14px;
  line-height: 20px;
  color: #514949;
  opacity: 0.9;
}

.copyright p{
   font-size: 16px;
   line-height: 24px;
font-weight: bold;
margin-top: 32px;
color: #514949;
padding-bottom: 97px;

}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 56px;
  padding: 20px;
}

footer {
  display: block;
}

.footer {
  margin-top: 215px;
}
